<div class="container darkcyan">
  <h1>My Books</h1>
</div>

<div class="container">
  <h3>Books that I shared</h3>
  <div class="row">
    <% @profile.books_owned.each_with_index do |book,index| %>
      <%= render 'book_imformation', book: book, index: index %>
    <% end %> 
  </div>
</div>

<div class="container">
  <h3>Books that I downloaded</h3>
  <div class="row">
    <% @profile.books_borrowed.each_with_index do |book,index| %>
        <%= render 'book_imformation', book: book, index: index %>
    <% end %> 
  </div>
</div>

<script type="text/javascript">
   var books=loadBooks();
</script>
