.alert
{
  text-align:center;
  color: hotpink;
}

.sellbutton
{
   text-align: center;
   padding: 1%;
}

.index-books
{
   padding: 3% 10%;
}

.white
{
   text-align:center;
}

.img-book
{
    padding-bottom: 5%;
}

.categoryimage
{
  padding: 5% 10% 10% 10%;
}

.categoryname
{
  text-align:center;
}

.darkcyan
{
  color:darkcyan;
  text-align:center;
}

.select
{
  padding: 0% 3% 3% 3%;
}

body {
    text-transform: none;
    background:black;
    color:white;
}

// style for book
img
{
   max-width: 100%;
   min-width: 150px;
   min-height: 220px;
}

.book-img
{
  width: 60%;
}

.book-author
{
  text-transform: uppercase;
}

a
{
color:white
}

.book
{
 margin-bottom: 10%;
}
