
body {
    text-transform: uppercase;
    background:black;
    color:white;
}

// style for book
img
{
   max-width: 100%;
   min-width: 150px;
   min-height: 220px;
}

.book-img
{
  width: 60%;
}
.book-author
{
  text-transform: uppercase;
}
a
{
color:white
}

.book
{
 margin-bottom: 10%;
}
