<div class="container">
  <div class='row'>
    <div class="col-12">
        <h1>All Categories</h1>
    </div>
    <div class="col-12">
      <% @categories.each do |category| %>
        <%= link_to category.name, category_path(category), :class => "btn btn-outline-info" %>
      <% end %>
    </div>
  </div>
</div>

