<div class="container" >
  <%= link_to 'All Categories', categories_path, :class => "btn btn-outline-info" %>
  <div class="row">
    <div class="col-12">
      <h1><%= @category.name %></h1>
    </div>
  </div>
  <div class="row">
      <div class="col-12">
          <div class="card-deck">
          <% @category.books.each_with_index do |book, index| %>
           <%= render 'books/book_card', book: book, index: index %>
          <% end %>
        </div>
      </div>
    </div>
</div>
